<div class="jumbotron">
	<table class="table">
		<tr>
			<td>{{contato.contato_nome}}</td>
		</tr>
		<tr>
			<td>{{contato.contato_telefone}}</td>
		</tr>
		<tr>
			<td>{{contato.contato_data | date:"dd/MM/yyyy"}}</td>
		</tr>
	</table>
	<a href="#/contatos">Voltar</a>
</div>
<!--
<div class="jumbotron">
	<ui-accordions>
		<ui-accordion title="Accordion 1">
			teste de transclude 1
		</ui-accordion>

		<ui-accordion title="Accordion 2">
			teste de transclude 1
		</ui-accordion>

		<ui-accordion title="Accordion 3">
			teste de transclude 3
		</ui-accordion>

		<ui-accordion title="Accordion 4">
			teste de transclude 4
		</ui-accordion>
	</ui-accordions>


	<hr/>
</div>-->
